
<body>
<section class="main">
  <h1>Welcome!</h1>

  <p>Score <%= @s %></p>
  <p>Quote <%= @quote.quote %></p>

  <a href="/r?r=1"><%= @win.title %></a> --- <a href="/r?r=0"><%= @lose.title %></a>

</section>

</body>




