@charset "UTF-8";
/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.woff") format("woff"); }

/* first for IE 4–8 */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.woff") format("woff"); }

/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.woff") format("woff"); }

/* line 60, all.scss */
* {
  box-sizing: border-box; }

/* line 64, all.scss */
body {
  background: #231f20;
  color: whitesmoke;
  font-family: serif;
  font-size: 20px; }

/* line 71, all.scss */
.fontface body {
  font-family: ScalaWebPro, serif;
  -webkit-font-smoothing: antialiased; }

/* line 76, all.scss */
h1, h2, h3, h4, h5, p {
  font-weight: normal; }

/* line 80, all.scss */
h1 {
  font-size: 20px;
  margin: 0; }

/* line 85, all.scss */
h2 {
  font-size: 40px;
  margin-top: 60px; }
  /* line 89, all.scss */
  h2 span {
    border-bottom: 1px solid white; }
  @media screen and (max-width: 570px) {
    /* line 85, all.scss */
    h2 {
      font-size: 25px;
      margin-top: 30px; } }

/* line 99, all.scss */
.italic {
  color: #999; }

/* line 103, all.scss */
.fontface .italic {
  font-family: ScalaWebPro-Ita, serif; }

/* line 107, all.scss */
.group:after {
  content: "";
  display: table;
  clear: both; }

/* line 113, all.scss */
.wrap {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px; }

/* line 120, all.scss */
.col1, .col2 {
  float: left;
  padding: 40px 0px 0px; }
  @media screen and (max-width: 570px) {
    /* line 120, all.scss */
    .col1, .col2 {
      width: 100% !important;
      float: none;
      padding-top: 20px; } }

/* line 132, all.scss */
.col1 {
  width: 75%;
  margin-right: 5%; }

/* line 138, all.scss */
.col2 {
  width: 20%; }
  @media screen and (max-width: 570px) {
    /* line 138, all.scss */
    .col2 {
      margin-top: 0; } }

/* line 146, all.scss */
.left {
  float: left; }

/* line 150, all.scss */
.book {
  max-width: 150px; }
  @media screen and (max-width: 570px) {
    /* line 150, all.scss */
    .book {
      width: 38%; } }

/* line 157, all.scss */
.or {
  margin: 108px 4%; }
  @media screen and (max-width: 570px) {
    /* line 157, all.scss */
    .or {
      margin: 70px 6%;
      padding-left: 6px; } }

/* line 166, all.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 168, all.scss */
.book img {
  border: 1px solid white; }

/* line 173, all.scss */
.boxshadow .book img {
  -moz-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 whitesmoke, 5px 5px 0 #231f20, 6px 6px 0 whitesmoke;
  -webkit-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 whitesmoke, 5px 5px 0 #231f20, 6px 6px 0 whitesmoke;
  box-shadow: 2px 2px 0 #231f20, 3px 3px 0 whitesmoke, 5px 5px 0 #231f20, 6px 6px 0 whitesmoke; }

/* line 191, all.scss */
.boxshadow .book:hover img {
  background: #fff;
  border: 1px solid #ead468;
  -moz-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 #ead468, 5px 5px 0 #231f20, 6px 6px 0 #ead468;
  -webkit-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 #ead468, 5px 5px 0 #231f20, 6px 6px 0 #ead468;
  box-shadow: 2px 2px 0 #231f20, 3px 3px 0 #ead468, 5px 5px 0 #231f20, 6px 6px 0 #ead468; }

/* line 212, all.scss */
.book a {
  text-decoration: none;
  color: whitesmoke; }

/* line 226, all.scss */
.book a .italic {
  color: #999; }

@media screen and (max-width: 570px) {
  /* line 230, all.scss */
  .book p {
    font-size: 14px; } }

/* line 236, all.scss */
.borderradius .meta {
  border-radius: 3px; }

/* line 240, all.scss */
.flash {
  border: transparent;
  margin-bottom: 10px; }

/* line 245, all.scss */
.meta {
  width: 100%;
  text-align: center;
  border: 1px solid #383536;
  padding: 30px; }
  /* line 251, all.scss */
  .meta .score {
    border-bottom: 1px solid #383536;
    padding: 0 0 30px;
    margin-bottom: 30px; }
    /* line 256, all.scss */
    .meta .score .points {
      font-family: ScalaSansScWebPro;
      font-size: 40px;
      line-height: .5; }
    /* line 262, all.scss */
    .meta .score .small-caps {
      font-family: ScalaSansScWebPro;
      font-size: 20px;
      line-height: 1; }
  /* line 273, all.scss */
  .meta .social {
    padding: 30px 0; }

/* line 279, all.scss */
body.index {
  height: auto; }

/* line 283, all.scss */
body, html {
  height: 100%; }

/* line 287, all.scss */
.game-over {
  width: 100%;
  height: 100%; }
  /* line 292, all.scss */
  .game-over h2 {
    margin-bottom: 0; }
  /* line 296, all.scss */
  .game-over h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 60px;
    font-family: ScalaWebPro-Ita;
    margin-bottom: 40px; }
  /* line 308, all.scss */
  .game-over .col1 {
    width: 60%;
    height: 100%;
    margin-right: 0;
    position: relative;
    padding-top: 110px;
    text-align: center; }
    @media screen and (max-width: 570px) {
      /* line 308, all.scss */
      .game-over .col1 {
        padding-top: 30px;
        padding-bottom: 69px;
        position: relative;
        height: auto; } }
    @media screen and (max-width: 570px) {
      /* line 323, all.scss */
      .game-over .col1 img {
        width: 75px;
        height: auto; } }
    /* line 330, all.scss */
    .game-over .col1 h2 {
      margin-top: 15px;
      margin-bottom: 20px; }
    /* line 335, all.scss */
    .game-over .col1 h3 {
      margin-bottom: 40px; }
    /* line 339, all.scss */
    .game-over .col1 .tweet {
      margin-top: 70px; }
      /* line 342, all.scss */
      .game-over .col1 .tweet h3 {
        margin-bottom: 10px; }
    /* line 347, all.scss */
    .game-over .col1 .arrow-down {
      visibility: hidden; }
      @media screen and (max-width: 570px) {
        /* line 347, all.scss */
        .game-over .col1 .arrow-down {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #231f20;
          margin: 0 auto;
          position: relative;
          top: 78px;
          z-index: 999;
          visibility: visible; } }
  /* line 368, all.scss */
  .game-over .col2 {
    background-color: whitesmoke;
    width: 40%;
    text-align: center;
    color: #231f20;
    overflow: hidden;
    position: relative;
    padding: 40px;
    padding-top: 90px;
    height: 100%; }
    @media screen and (max-width: 570px) {
      /* line 368, all.scss */
      .game-over .col2 {
        padding: 20px;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px; } }
    /* line 390, all.scss */
    .game-over .col2 h2 {
      margin-top: 30px; }
      @media screen and (max-width: 570px) {
        /* line 390, all.scss */
        .game-over .col2 h2 {
          margin-top: 25px; } }
    /* line 398, all.scss */
    .game-over .col2 h3 {
      margin-bottom: 23px;
      color: gray;
      font-family: ScalaWebPro-Ita;
      margin-bottom: 30px; }
      @media screen and (max-width: 570px) {
        /* line 398, all.scss */
        .game-over .col2 h3 {
          margin-bottom: 38px; } }
    /* line 410, all.scss */
    .game-over .col2 img {
      width: 60%;
      border-bottom: 1px solid #e8e8e8;
      margin-top: -12px; }
    /* line 416, all.scss */
    .game-over .col2 .read-more {
      background: #70B22D;
      padding: 9px 40px 13px;
      font-family: ScalaSansScWebPro;
      color: whitesmoke;
      text-decoration: none;
      border-radius: 2px; }
    /* line 426, all.scss */
    .game-over .col2 .read-more:hover {
      opacity: 0.8; }
  /* line 432, all.scss */
  .game-over .play-again {
    background: whitesmoke;
    padding: 9px 40px 13px;
    font-family: ScalaSansScWebPro;
    color: #231f20;
    text-decoration: none;
    -moz-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 whitesmoke, 5px 5px 0 #231f20, 6px 6px 0 whitesmoke;
    -webkit-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 whitesmoke, 5px 5px 0 #231f20, 6px 6px 0 whitesmoke;
    box-shadow: 2px 2px 0 #231f20, 3px 3px 0 whitesmoke, 5px 5px 0 #231f20, 6px 6px 0 whitesmoke; }
  /* line 456, all.scss */
  .game-over .play-again:hover {
    background: #ead468;
    -moz-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 #ead468, 5px 5px 0 #231f20, 6px 6px 0 #ead468;
    -webkit-box-shadow: 2px 2px 0 #231f20, 3px 3px 0 #ead468, 5px 5px 0 #231f20, 6px 6px 0 #ead468;
    box-shadow: 2px 2px 0 #231f20, 3px 3px 0 #ead468, 5px 5px 0 #231f20, 6px 6px 0 #ead468; }
