/*
Errno::ENOENT: No such file or directory - static/all.scss

Backtrace:
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:339:in `read'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.5.3/lib/listen/multi_listener.rb:86:in `call'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.5.3/lib/listen/multi_listener.rb:86:in `on_change'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.5.3/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.5.3/lib/listen/adapter.rb:196:in `call'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.5.3/lib/listen/adapter.rb:196:in `report_changes'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.5.3/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/alexmiles/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.5.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - static/all.scss"; }
